body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: row;
}

.recipe-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px; /* Ajustado para que el contenedor sea un poco más ancho */
    margin: 0 auto; /* Centrado del contenedor en la página */
}

.main-title {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin: 10px 0;
}



h1 {
    display: block;
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 10px; /* Ajuste para el espaciado */
}

h2 {
    font-size: 1.8em; /* Aumentado para que destaque más */
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px; /* Ajustado para mayor separación visual */
    
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.recipe-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
}

.full-width {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    max-height: 200px; /* Limita la altura para que la imagen no sea muy alta */
    object-fit: cover; /* Recorta la imagen si es necesario para llenar el contenedor */
}


.time-info {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.time-box {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    width: 28%; /* Ajustado para que sea un poco más grande */
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.time-title {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.time-value {
    color: #000;
    font-weight: bold;
    font-size: 1.2em; /* Aumenta el tamaño del texto de los minutos */
}

ul.ingredients-list, ol.instructions-list {
    text-align: left;
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

ul.ingredients-list li, ol.instructions-list li {
    margin-bottom: 10px;
}

ul.ingredients-list li span {
    display: block;
    text-align: left;
    font-style: oblique;
    color: grey;
}


.nutrition-facts p {
    margin: 5px 0;
    text-align: left;
}
