body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: row;
}

.recipe-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    
}

h1 {
    display: block;
    font-size: 2em;
    color: #333;
    
    text-align: center;
}

.recipe-image {
    display: block;
    max-width: 100%;
    border-radius: 8px;
    margin: 30px auto;
    padding-top: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}



h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

.time-info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.time-box {
    background-color: #f8f9fa;
    padding: 10px;
    margin: 1.1rem;
    border-radius: 5px;
    width: 30%;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.time-title {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.time-value {
    color: #000;
    font-weight: bold;
}

ul.ingredients-list, ol.instructions-list {
    text-align: left;
    padding-left: 20px;
    margin: 0;
    list-style: none;
}



ul.ingredients-list li, ol.instructions-list li {
    margin-bottom: 10px;
    list-style: none;
}

ul.ingredients-list li span{
    display:block;
    text-align: left;
    font-style: oblique;
    color: grey;
}

.nutrition-facts p {
    margin: 5px 0;
    text-align: left;
    list-style:none;
}
